/Teoria/ESLII.pdf
/clase_2/jupyterbooks/data/fashion-mnist/
/clase_2/jupyterbooks/data/UCI HAR Dataset/
/clase_6/jupyterbooks/data/UCI HAR Dataset/
/clase_7/jupyterbooks/data/
/__pycache__
/.ipynb_checkpoints
